body {
    margin: 0;
    padding: 0;
}

header {
    background: #000;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

main{
    margin: 20px;
}

nav{
    margin: 0 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

nav ul li{
    display: block;
    padding: 13px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li:hover{
    box-shadow: 0 -5px 12px rgba(250, 248, 248, 0.3); 
}

.main-catalog {
    display: flex;
    margin: 0 10%;
    gap: 20px;
}

.filter {
    background-color: #f9f9f9;
    width: 13%;
    padding: 15px;
    box-sizing: border-box;
    max-height: 450px;
}

.items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.catalog{
    display: flex;
    flex-direction: column;
    width: 87%;
    background-color: #f9f9f9;
    padding: 15px;
    box-sizing: border-box;
    gap: 15px;

}

.card-item {
    width: 220px;
    background: #fff;
    border: 1px solid #e0e0e0;
    padding: 12px;
    box-sizing: border-box;
    transition: box-shadow 0.2s;
    position: relative;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-item:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

.card-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 4px;
}

.card-title {
    font-size: 16px;
    margin: 0;
    color: #333;
}

.card-price {
    font-size: 18px;
    font-weight: bold;
    color: #d32f2f;
}

.card-price-count {
    display: flex;
    justify-content: space-between;
}

.card-count{
    font-size: 18px;
}

.card-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.card-button:hover {
    background-color: #0056b3;
}

.catalog-item h2{
    display: block;
}

.category {
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

h2 {
    margin: 15px 0px;
}

.logo h1 {
    color: white;
    margin: 0;
    display: block;
    padding: 6px;
}

.fa-cart-shopping{
    color: white;
}

.category-btn {
    border: none;
    background-color: transparent;
    font-size: 18px;
    display: flex;
    padding: 5px 10px;
    cursor: pointer;
}

.active-category {
    background-color: rgb(20, 20, 20);
    color: white;
}

.category-btn:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
}

.search-for {
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.search-for p{
    margin: 0;
}

.serch-cost {
    width: 100%;
    display: flex;
    gap: 4px;
}

.serch-cost input{
    font-size: 18px;
    width: 45%;
    border: black solid 1px;
    padding: 4px;
}

.search-promotions{
    width: 100%;
    display: flex;
    gap: 4px;
    margin: 5px;
    margin-top: 10px;
    margin-left: 0px;
}

.search-promotions input{
    transform: scale(2);
    margin-left: 10px;
}

.cart-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    max-width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.85); 
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px); 
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    
    display: flex;
    flex-direction: column;
}

.cart-sidebar.open {
    transform: translateX(0);
}

.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.cart-overlay.show {
    opacity: 1;
    visibility: visible;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #111; 
    color: #fff;
}

.close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    transition: color 0.2s;
}

.close-btn:hover {
    color: #ccc;
}

.cart-content {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-footer {
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.checkout-btn {
    width: 100%;
    padding: 12px;
    background-color: #111;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.checkout-btn:hover {
    background-color: #333;
}

.cart-product {
    display: flex;
    align-items: center; 
    gap: 15px; 
    padding: 12px;
    margin-bottom: 15px; 
    background-color: #f8f9fa; 
    border-radius: 8px; 
    border: 1px solid #eee;
}

.cart-product img{
    width: 100px;
    height: 100%;
    background-color: white;
}

.product_info {
    display: flex;
    flex-direction: column;
}

.product_info h3 {
    margin: 0 3px;
}

.product_price {
    margin: 3px 3px;
    font-size: 18px;
}

.back-button {
    background-color: #b30000;
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.2s;
}

.back-button:hover {
    background-color: #750000;
}

.cart-login {
    position: fixed;
    width: 400px;
    max-width: 100%;
    height: 340px;
    max-height: 100%;
    background: rgba(255, 255, 255, 0.85); 
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px); 
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    border-radius: 20px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    border: black solid 1px;

}

.input-login {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    gap: 10px;
    max-width: 200px;
    width: 100%;
    align-items: center;
}

.input-login input {
    width: 100%;
    border-radius: 10px;
    border: black solid 1px;
    font-size: 20px;
    padding: 5px;
}

.input-login p{
    margin: 0;
    font-size: 20px;
}

.login-button{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 200px;
    width: 100%;
    align-items: center;
}



.login-input label {
    font-size: 14px;
    color: #88929b; 
    margin-bottom: 2px;
}

.login-icon {
    font-size: 22px;
    color: #6c757d; 
    margin-right: 10px; 
}

.login-input input {
    border: none; 
    background: transparent; 
    outline: none; 
    font-size: 20px;
    color: #333; 
    padding: 0;
}

.login-conteiner {
    display: flex;
    align-items: center; 
    background-color: #eef2f5; 
    border-radius: 8px; 
    padding: 8px 15px; 
    width: 280px; 
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.login-conteiner:focus-within {
    border-bottom: 2px solid #1f82b7;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.eye{
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.login-but {
    width: 80%;
    font-size: 20px;
    border-radius: 20px;
    border: black solid 1px;
    background-color: #007bff;
    padding: 5px;
    cursor: pointer;

    transition: background-color 0.4s;
}

.login-but:hover {
    background-color: #004c9c;

}

.register-but {
    width: 80%;
    font-size: 20px;
    border-radius: 20px;
    border: #0056b3 solid 1px;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
    color:  #0056b3;

    transition: background-color 0.4s;
}

.register-but:hover {
    border: black solid 1px;
    background-color: #007bff;
    color: black;

}

.open-eye {
    display: none;
}

.title-login {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
}

.close-btn-login{
    background: none;
    border: none;
    color: #000000;
    font-size: 28px;
    cursor: pointer;
    transition: color 0.2s;
}

.close-btn-login:hover{
    color: #696969;
}

.cart-login.open {
    display: flex;
}

.register-but-next {
    width: 80%;
    font-size: 20px;
    border-radius: 20px;
    border: #0056b3 solid 1px;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
    color:  #0056b3;

    transition: background-color 0.4s;
}

.register-but-next:hover {
    border: black solid 1px;
    background-color: #007bff;
    color: black;

}

.register-window {
    display: none;
}

.close-btn-register {
    background: none;
    border: none;
    color: #000000;
    font-size: 28px;
    cursor: pointer;
    transition: color 0.2s;
}

.close-btn-register:hover{
    color: #696969;
}

.card-price{
    display: flex;
    gap: 5px
}

.card-count{
    display: flex;
    gap: 5px
}

.card-price p{
    margin: 0;
    display: flex;
    flex-direction:row;
}

.card-count p{
    margin: 0;
    display: flex;
    flex-direction:row;
}